#user-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.user-card {
  padding: 10px;
  box-sizing: border-box;
  width: 200px;
  height: 250px;
  border: 1px solid black;
  background-color: blanchedalmond;
  border-radius: 5px;
  cursor: pointer;
}

.img-box {
  text-align: center;
}

.img-box > img {
  width: inherit;
  height: 180px;
}
