* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.post-container-2 {
  border-radius: 5px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 4rem;
  height: 800px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  width: 900px;
  height: 700px;
}

.content {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  align-items: center;
  width: 100%;
}

.post-title {
  height: 7rem;
}

.post-title h2 {
  margin-top: 1.5rem;
  font-size: 3rem;
}

.post-nickname {
  height: 3rem;
}

.post-content {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  background-color: white;
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.post-contents {
  width: 384.27px;
  margin: 4rem;
  height: 300px;
  overflow: auto;
}

.post-content h6 {
  font-size: 2rem;
  margin: 2rem;
}

.post-img {
  width: 300px;
  margin: 1rem;
}

.post-img img {
  width: 100%;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.buttons button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin-left: 10px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

#postUpdateModalClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.postModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.postModal_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.postModal_content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.postModal_content h1 {
  margin-top: 0;
  font-size: 24px;
}

.input-group {
  margin-top: 20px;
}

.input-form {
  margin-bottom: 20px;
}

.input-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.postModal-btn {
  display: flex;
  justify-content: flex-end;
}

.postModal-btn button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #0f2027;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.postModal-btn button:first-child {
  background-color: #428bca;
}

.postModal-btn button:hover {
  opacity: 0.8;
}

.commentbox {
  justify-content: center;

  align-items: center;
  width: 100%;
}
.comment {
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 902px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(218, 217, 217);
}

.commentbtn {
  cursor: pointer;
  color: #aaa;
}

.btn {
  width: 70px;
  height: 50px;
  background-color: rgb(218, 217, 217);
  border: 1px solid rgb(141, 140, 140);
}

.form-control-1 {
  margin: 0.5rem;
  width: 50rem;
  height: 50px;
  border-radius: 5px;
  border: none;
}

.all-comments {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 901px;
  background-color: rgb(218, 217, 217);
  margin-bottom: 5rem;
}

.comment-container {
  background-color: white;
  width: 850px;
  margin: 1rem;
  height: 100px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.comment-text {
  color: black;
}
