* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
.content {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  /* align-items: center; */
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.buttons button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin-left: 10px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  width: 900px;
  height: 700px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

#postUpdateModalClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
