* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
.content {
  display: flex;
  justify-content: center;

  align-items: center;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.buttons button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin-left: 10px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  width: 900px;
  height: 700px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  color: white;
  z-index: 9999;
}

#updateForm {
  display: flex;
  flex-direction: column;
}

#updateForm input,
#updateForm textarea {
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

#updateForm button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
