nav {
  padding: 0 40px 0 40px;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
  line-height: 70px;
  top: 0;
  z-index: 10;
  background-color: #2c3e50;

  border: 1px solid black;
  color: #fff;
}

nav > #home {
  margin-right: auto;
  /* font-size: 1.5em; */
}
nav > #home > img {
  width: 70px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

nav > ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

nav a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

nav li {
  transition: 0.5s;
}

nav li:hover {
  background-color: #ffffff6b;
}

nav input {
  margin-left: 10px;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  height: 30px;
  width: 200px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  transition: 0.5s;
}
nav input:focus {
  outline: none;
  background-color: rgba(128, 128, 128, 0.425);
  border-bottom: 1px solid #ffff;
}

.search-box > .search-btn {
  margin-left: 5px;
  border-radius: 3px;
  border-style: none;
  background-color: #fff;
  height: 31px;
  width: 70px;
  font-size: 14px;
  cursor: pointer;
  color: #0f2027;
  font-weight: 600;
  transition: 0.5s;
}

.search-box > .search-btn:hover {
  background-color: #0f2027;
  color: #fff;
}

.logout-btn {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  color: #0f2027;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 31px;
  margin-left: 10px;
  padding: 0 10px;
  transition: 0.5s;
}

.logout-btn:hover {
  background-color: #0f2027;
  color: #fff;
}

.logout-btn {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  color: #0f2027;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 31px;
  margin-left: 10px;
  padding: 0 10px;
  transition: 0.5s;
}
.logout-btn:hover {
  background-color: #0f2027;
  color: #fff;
}
