@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  margin: 0;
}

* body {
  background-color: rgb(180, 174, 174);
}

.profile-header {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 100%;
  /* background-color: rgb(180, 210, 228); */

  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  font-family: "Jua", sans-serif;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #4b4848;
  color: rgb(0, 0, 0);
}
.profile-header .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header .modal .modal_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.profile-header .modal .modal_content {
  background-color: white;
  height: 40rem;
  width: 50rem;
  position: relative;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.profile-header .modal .modal_content h1 {
  margin-top: 3rem;
}

.profile-header .modal .modal_content .input-group .input-form {
  width: 80%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.profile-header .modal .modal_content .input-group .form-control {
  width: 100%;
  height: 4rem;
  margin: 0.5rem;
}

.profile-header .modal .modal_content .input-group .form-control-content {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
  height: 8rem;
  margin: 0.5rem;
}

.profile-header .modal .modal_content .input-group .modal-btn {
  width: 100%;
  margin-top: 1rem;
}

.profile-header .modal .modal_content .input-group .modal-btn button {
  font-size: 1.3rem;
  background-color: rgb(180, 210, 228);
  width: 120px;

  margin: 0.5rem;
  border-radius: 10px;
}

.profile-header .hidden {
  display: none;
}

.profile-header .profile-title {
  height: 100px;
}

.profile-header .profile-title h1 {
  margin-top: 3.5rem;
  width: 100%;
  font-size: 3.5rem;
}

.container-1 {
  font-family: "Jua", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  width: 1200px;
  height: auto;
  margin: 3rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #4b4848;
}

.container-1 .postModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-1 .postModal .postModal_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.container-1 .postModal .postModal_content {
  background-color: white;
  height: 30rem;
  width: 50rem;
  position: relative;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.container-1 .postModal .postModal_content h1 {
  margin-top: 3rem;
}

.container-1 .postModal .postModal_content .input-group .input-form {
  width: 80%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.container-1 .postModal .postModal_content .input-group .form-control {
  width: 100%;
  height: 4rem;
  margin: 0.5rem;
}

.container-1 .postModal .postModal_content .input-group .form-control-content {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
  height: 8rem;
  margin: 0.5rem;
}

.container-1 .postModal .postModal_content .input-group .postModal-btn {
  width: 100%;
  margin-top: 1rem;
}

.container-1 .postModal .postModal_content .input-group .postModal-btn button {
  font-size: 1.3rem;
  background-color: rgb(180, 210, 228);
  width: 120px;

  margin: 0.5rem;
  border-radius: 10px;
}

.container-1 .hidden {
  display: none;
}
/* 여기 */

.container-1 .row {
  flex-wrap: nowrap;
}

.container-1 .row .profile-img {
  width: 35rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(193, 192, 192);
}

.container-1 .row .profile-img img {
  border-radius: 10px;
  height: 90%;
}

.container-1 .row .profile-section {
  font-family: "Jua", sans-serif;
  width: 35rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 10px;

  background-color: rgb(193, 192, 192);
}

.container-1 .row .profile-section .profile-nickname h2 {
  width: 20rem;
  margin-top: 1rem;
}

.container-1 .row .profile-section .profile-nickname {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container-1 .row .profile-section .profile-nickname .profile-settings {
  text-align: right;
  width: 100%;
}

.container-1 .row .profile-section .profile-nickname .profile-settings button {
  background-color: rgb(180, 210, 228);
  font-size: 1.5rem;
  border-radius: 10px;
}

.container-1 .row .profile-section .post-follow {
  justify-content: center;
  width: 105%;
  display: inline-flex;
}

.container-1 .row .profile-section .post-follow p {
  font-size: 1.5rem;

  margin: 1rem;
}

.container-1 .row .profile-section .post-follow button {
  font-size: 1.3rem;
  background-color: rgb(180, 210, 228);

  margin: 0.5rem;
  border-radius: 10px;
}

.container-1 .row .profile-section .profile-introduction {
  font-size: 1.2rem;
  background-color: white;
  border-radius: 10px;

  overflow-y: scroll;
  height: 100px;
}

.container-1 .row .profile-section .profile-introduction::-webkit-scrollbar {
  width: 11px; /* 스크롤바의 너비 */
}
.container-1 .row .profile-section .profile-introduction::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #3d3d3d; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.container-1 .row .profile-section .profile-introduction::-webkit-scrollbar-track {
  background: #84848447; /*스크롤바 뒷 배경 색상*/
}

.container-1 .row .profile-section .profile-introduction p {
  margin: 0.5rem;
}

.container-2 {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 1200px;
  height: auto;
  margin: 3rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #4b4848;
}

.container-2 .row-2 .post-container {
  font-family: "Jua", sans-serif;
  width: 71.6rem;
  height: 15rem;
  margin: 2rem;
  border-radius: 10px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  background-color: rgb(193, 192, 192);
}
.container-2 .row-2 .post-container img {
  margin: 1rem;
  width: 13rem;
  height: 13rem;
}

.container-2 .row-2 .post-container .post-text {
  margin: 1rem;
  width: 100%;
}

.container-2 .row-2 .post-container.post-text h3 {
  font-size: 2rem;
}

.container-2 .row-2 .post-container .post-text p {
  margin-top: 1rem;
  font-size: 1.5rem;
  height: 9rem;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow-y: scroll;
}

.container-2 .row-2 .post-container .post-text p::-webkit-scrollbar {
  width: 11px; /* 스크롤바의 너비 */
}
.container-2 .row-2 .post-container .post-text p::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #3d3d3d; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.container-2 .row-2 .post-container .post-text p::-webkit-scrollbar-track {
  background: #84848447; /*스크롤바 뒷 배경 색상*/
}
